<form action="http://localhost:3001/login/session" method="POST">

  Nombre:
  <input type="text" name="nombre" id="nombre" />
  E-mail:
  <input type="email" name="email" id="email" />
  <button type="submit">Send</button>
</form>